.about-rcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background color */
    text-align: left; /* Align text to the left */
  }
  
  .about-rcc h2 {
    color: #dc3545; /* Red color for the heading */
  }
  
  .chef-image {
    width: 300px; /* Adjust width as needed */
    height: auto;
    margin-top: 20px;
    border-radius: 20%;
     /* Add some top margin for spacing */
  }
  
  .rcc-info-container {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }

  .chef-description{
    padding: 20px;
    line-height: 1.2;
  }