.sidebar {
     height:50vh;
    position: sticky;
   top:15rem;
    border-right: 0.1rem solid rgba(140, 136, 136, 0.438);
} 

.sidebar-tracking{
    background-color:rgba(255, 166, 0, 0.287);
    border-radius: 1.5rem;
}

/* sidebar end */






.custom-eachfood{
    width: 100%;
    margin-bottom: 0.5rem;


    display: flex;
    justify-content: space-around;
}


/* AllMenu.css */
@media (min-width: 578px) and (max-width: 767px) {
    .custom-eachfood .col-lg-4 {
      flex: 0 0 50%; /* Set width to 50% for medium screens */
      max-width: 50%;
    }
  }
  
  /* For screens wider than 767px, revert back to col-lg-4 */
  @media (min-width: 768px) {
    .custom-eachfood .col-lg-4 {
      flex: 0 0 33.333333%; /* Reset width to one-third for larger screens */
      max-width: 33.333333%;
    }
  }
  




















