.sidebar {
  height: 50vh;
  position: sticky;
  top: 15rem;
  border-right: 0.1rem solid rgba(140, 136, 136, 0.438);
}

.sidebar-tracking {
  background-color: rgba(255, 166, 0, 0.287);
  border-radius: 1.5rem;
}

/* sidebar end */

.custom-eachfood {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.custom-eachfood {
  transition: transform 0.5s ease-in-out;
}

.custom-eachfood:hover {
  transform: scale(1.03);
}

.custom-card:hover {

  background-color: #f9f9f9e5;
}

/* AllMenu.css */
@media (min-width: 578px) and (max-width: 767px) {
  .custom-eachfood .col-lg-4 {
    flex: 0 0 50%;
    /* Set width to 50% for medium screens */
    max-width: 50%;
  }
}

/* For screens wider than 767px, revert back to col-lg-4 */
@media (min-width: 768px) {
  .custom-eachfood .col-lg-4 {
    flex: 0 0 33.333333%;
    /* Reset width to one-third for larger screens */
    max-width: 33.333333%;
  }
}


/* Search Bar */

.fixed-container {

  position: fixed;
  top: var(--navbar-height);



  width: 75%;

  background-color: white;
  z-index: 1000;
  height: 5rem;


  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  @media (max-width:768px) {
    width: 100%;
  }

}


.menu-items {
  margin-top: 6rem;
}


/* Search Bar */

.search-bar {
  display: flex;
  justify-content: end;

}

.search {
  --padding: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 2rem;
  background-color: #dddada45;
  transition: box-shadow 0.25s;
}

.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  background-color: white;
  color: black;
}

.search-input {
  font-size: 1rem;
  font-family: sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 100%;

}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
}