

.each-item{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 
    0 1px 2px rgba(0, 0, 0, 0.05);
    
}



.food {
    display: flex;
    width: 50%;
    border-radius: 50%;
   object-fit: cover;
}


/* css for bill  */


.billing-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}


.billing-table td {
    text-align: center;

}

.billing-row {
    font-weight: bold;
}

.billing-row .td {
    padding: 5px;
}



.small-remove{
    color: red;
    cursor: pointer;

  
}

.small-remove:hover{
   background-color: rgb(193, 218, 240);
   border-radius: 20px;
}



.bill{
   border-left: none;
}


@media (min-width:768px){
    .bill{
        border-left: 2px solid rgb(187, 186, 186);
    }
}











