.food-card {
  position: relative;
  overflow: hidden;
  height:20rem;

  border-radius: 8px; /* Optional: Rounded corners */
}

.food-card img {
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 20px;
  text-align: center;
}

.food-card:hover .overlay {
  opacity: 1;
}

.food-card h3,
.food-card p {
  margin: 0;
}
