.bg-info-subtle{
  font-size: 0.75rem;
}
  
  .each-food {
  margin:1.5rem;
  }


  /* When screen is smaller than 576px width 60% */
.food-image {
  width: 60%;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

/* When screen is larger than 576px width 40% */
@media (min-width: 576px) {
  .food-image {
    width: 50%;
  }
}
