
/* Default for screens smaller than 576px */
.restro-logo {
    width: 60%;
    filter: brightness(-400%);
  }
  
.reservations-icons {
    margin-inline: 2rem;

}

.icons-box a {
    color: #676464;
    text-decoration: none;
}

.each-icon {
    padding: 0.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe h3 {
    justify-self: start;
}

.subscribe .text-muted {
    justify-content: center;
}

.subcribe-input-box {
    display: flex;
    width: 65%;
    margin-top: 2.5rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid #ccc;
    font-size:1rem;
    outline: none;
    border-radius:1.5rem;
    transition: border-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.subcribe-input-box:focus {
    border-color: #007bff;
}

.subcribe-input-button {
    border: none;
    outline: none;
    background-color: rgba(255, 136, 0, 0.96);
    width: 50%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.social-media-icons {
    padding: 1rem;
}

.footer-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}