.footer {
    background-color:rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;


}

.footer-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.restro-logo {
    padding: 10px;
    filter: brightness(-50%);
    display: flex;
    height: 180px;
    margin-bottom: 50px;
    margin-top: 20px;

   
}
.footer-body {
    display: flex;
    justify-self: start;
    flex-direction: column;
    margin-top: 30px;
    text-align: left;
    /* padding: 50px; */
}

.text-secondary {
    margin-bottom: 30px;
}

.reservations-icons {
    margin-inline: 30px;

}

.icons-box a {
    color: #676464;
    text-decoration: none;
}

.each-icon {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe h3 {
    justify-self: start;
}

.subscribe .text-muted {
    justify-content: center;
}
.subcribe-input-box {
    display: flex;
    width: 50%;
    margin-top: 40px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
    transition: border-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.subcribe-input-box:focus {
    border-color: #007bff;
}

.subcribe-input-button {
    border: none;
    outline: none;
    background-color: rgba(255, 136, 0, 0.96);
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

    border-radius: 20px;
    color: white;
    font-size: large;
    font-weight: bold;
}



.social-media-icons {
    padding: 10px;
}



.footer-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}