
/* Default for screens smaller than 576px */
.restro-logo {
    width: 60%;
    filter: brightness(400%);
  }
  

.icon{
    margin: 0.75rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

}

.icon:hover{
    background-color: rgb(182, 177, 177);
    color: white;
    border-radius: 20px;
}

.contact-container{
    font-size: 1rem;
}

@media (max-width:400px){




    .custom-input{
        width: 100%;
    }







 
}


.custom-input {
    width: 100%;
    padding: 1rem;
border: 1px solid #c5c3c3;
    border-radius: 20px;

    font-size: 1rem;
  }
  
  .subscribe-input-button {
    width: 70%;
    margin-top: 1rem;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 0.5rem 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
 
  }
  
  .subscribe-input-button:hover {
    background-color: orange;
    color: white;
  }
  


.subscribe-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe h3 {
    justify-self: start;
}

.subscribe .text-muted {
    justify-content: center;
}




.subcribe-input-button {
    border: none;
    outline: none;
    background-color: rgba(255, 136, 0, 0.96);


    border-radius:20px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.social-media-icons {
    padding: 1rem;
    color: white;
}

.footer-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.custom-footer{
    background-color:#626262;
    padding-top: 0.75rem;

}
