.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-fluid h1 {
    font-weight: bold;
}
.container-form {
    border: 2px solid #dededfdf;
    max-width: max-content;
    padding: 10px;
}

.logo-style {
    width: 20%;
    height: 10%;
    padding: 10px; 
}

.login-button {
    margin-bottom: 15px;
}

.text-secondary {
    margin-bottom: 10px;
}


.signup-label {
    margin-top: 10px;
}

.btn-danger {
    margin-bottom: 10px;
}