.custom-welcome{
  font-size: 1rem;
margin-top: 7rem;
}
  

  .order-online button {
    margin-top: 1.5rem;
    width: 40%;
    border-radius: 20px;   
    color:aliceblue;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s; 
}

.order-online button:hover {
    background-color: orange;
    color: white;
}
